body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #eabf87;
}

.header {
    background-color: #c49f70;
    width: 50%;
    min-height: 100px;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
