body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #eabf87;
}

.header {
    background-color: #d3ab79;
    width: 700px;
    min-height: 80px;
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.box {
    width: 500px;
    height: 700px;
    background-color: #d3ab79;
    margin: 50px;
    border-radius: 5px;
}

.statistics {
    width: 500px;
    height: 100px;
    background-color: #6b573d;
}

.card {
    width: 500px;
    height: 600px;
    background-color: #c49f70;
}

.card p {
    margin: 0;
    min-height: 100px;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 1.5;
    padding: 10px;
}

.card img {
    border-radius: 20px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.NewCardForm {
    width: 40%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: bottom;
    color: white;
}

.NewCardForm #personName,
.NewCardForm #personQuote {
    padding: 10px;
    margin: 10px;
}

.NewCardForm #personName {
    /* width: 60%; */
    padding: 10px;
}

.NewCardForm #personQuote {
    /* width: 100%; */
    padding: 10px;
}
.input-holder {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#newCardSubmit {
    align-self: flex-end;
}
input[type="submit"] {
    width: 150px;
    height: 40px;
}
